<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/about}">About</a>
    <a th:href="@{/contact}">Contact</a>
    <hr>
    <form th:action="@{/about}" method="get">
        <label>
            <input type="text" placeholder="Enter your name" name="name">
        </label>

        <button type="submit">Submit</button>
    </form>
    <hr>
    <h1 th:if="${name != null}">Your Name Is <th:block th:utext="${name}"/></h1>
</body>
</html>