<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/about}">About</a>
    <a th:href="@{/contact}">Contact</a>
    <hr>
    <h1>Welcome To My First Spring WebApp</h1>
    <h1 th:text="${name}"></h1>
    <hr>
    <label>
        <input id="productSearchInput" placeholder="Enter Product Name..." type="text">
    </label>
    <button onclick="searchProduct()">Search</button>
    <script>
        function searchProduct()
        {
            const pID = document.getElementById("productSearchInput").value
            location.href = `/products/single/${pID}`
        }
    </script>
</body>
</html>